@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --teenage-blue: #122746;
  --teenage-ochre: #b28e5d;
  --teenage-orange: #f05022;
  --teenage-gray: #d9d9d9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

@theme inline {
  --color-te-blue: var(--teenage-blue);
  --color-te-ochre: var(--teenage-ochre);
  --color-te-orange: var(--teenage-orange);
  --color-te-gray: var(--teenage-gray);
}
